<gebruiker-header
  [backgroundColor]="'background-wit'"
  subText="Aanbiedingen"
></gebruiker-header>
<main rolStyle>
  <div class="card" routerLink="/persoonlijkeInfo">
    <div class="title">
      <fa-icon [icon]="faUser"></fa-icon>
      Mijn eigen gegevens
    </div>
  </div>
  <div class="card" routerLink="/diplomas">
    <div class="title">
      <fa-icon [icon]="faGraduationCap"></fa-icon>
      Mijn diploma's
    </div>
  </div>
  <div class="card">
    <div class="title">
      <fa-icon [icon]="faBriefcase"></fa-icon>
      Stageplaatsen
    </div>
  </div>
  <div class="card">
    <div class="title">
      <fa-icon [icon]="faBriefcase"></fa-icon>
      Studentenjobs
    </div>
  </div>
  <div class="card">
    <div class="title">
      <fa-icon [icon]="faHouse"></fa-icon>
      Koten
    </div>
  </div>
  <div class="card">
    <div class="title">
      <fa-icon [icon]="faScrewdriverWrench"></fa-icon>
      Workshops
    </div>
  </div>
  <div class="card">
    <div class="title">
      <fa-icon [icon]="faSchool"></fa-icon>
      Bijlessen
    </div>
  </div>
  <div class="card">
    <div class="title">
      <fa-icon [icon]="faPlaneDeparture"></fa-icon>
      Erasmus uitwisselingen
    </div>
  </div>
  <div class="card">
    <div class="title">
      <fa-icon [icon]="faBuildingColumns"></fa-icon>
      Studentenverenigingen
    </div>
  </div>
</main>
<app-nav-bar></app-nav-bar>
