<div class="studylooker-registreer-page">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div>
      <input
        class="icon-persoon"
        formControlName="voornaam"
        placeholder="Voornaam*"
        type="text"
      />
    </div>
    <div>
      <input
        class="icon-persoon"
        formControlName="achternaam"
        placeholder="Achternaam*"
        type="text"
      />
    </div>
    <div>
      <input
        class="icon-email"
        formControlName="email"
        placeholder="E-mailadres*"
        type="email"
      />
    </div>
    <div>
      <input
        class="icon-wachtwoord"
        formControlName="wachtwoord"
        placeholder="Wachtwoord*"
        type="password"
      />
    </div>
    <div>
      <input
        class="icon-wachtwoord"
        formControlName="bevestigWachtwoord"
        placeholder="Bevestig wachtwoord*"
        type="password"
      />
    </div>
    <div>
      <input
        class="icon-provincie"
        formControlName="provincie"
        placeholder="Provincie*"
        type="text"
      />
    </div>
    <div>
      <input
        class="icon-studie"
        formControlName="huidigeStudie"
        placeholder="Huidige studie*"
        type="text"
      />
    </div>
    <div>
      <input
        class="icon-studie"
        formControlName="behaaldDiploma"
        placeholder="Behaalde diploma*"
        type="text"
      />
    </div>
    <div class="smaller-height">
      <button (click)="addDiplomaField()" class="plus-button" type="button">
        +
      </button>
      <input
        class="icon-studie smaller-input"
        formControlName="toegevoegdDiploma"
        placeholder="Diploma toevoegen"
        type="text"
      />
    </div>
    <div formArrayName="behaaldeDiplomaArray">
      <div
        *ngFor="let diploma of behaaldeDiplomaArray.controls; let i = index"
        [formGroupName]="i"
      >
        <div class="diploma-field">
          <input
            [formControlName]="'diploma'"
            class="icon-studie smaller-input alignment-right"
            placeholder="Diploma toevoegen"
            type="text"
          />
        </div>
      </div>
    </div>
    <div>
      <button type="submit">Registreer</button>
    </div>
  </form>
  <p>
    Door te registreren ga je akkoord met de algemene <br />
    voorwaarden en het Privacybeleid.
  </p>
</div>
