<gebruiker-header
  [backgroundColor]="'background-wit'"
  [headerText]="''"
  [subText]="''"
></gebruiker-header>
<div class="container">
  <div *ngIf="geschenkCategorie as category" class="small-container">
    <h1>{{ category.naam }}</h1>
    <p *ngIf="category.geschenken.length === 0" class="availability">
      Er zijn spijtig genoeg geen geschenken meer beschikbaar
    </p>
    <p *ngIf="category.geschenken.length > 1" class="availability">
      Er zijn nog {{ category.geschenken.length }} geschenken beschikbaar voor
      maar {{ category.prijs }} XP
    </p>
    <p *ngIf="category.geschenken.length === 1" class="availability">
      Er is nog 1 geschenk beschikbaar voor {{ category.prijs }} XP
    </p>
    <p>{{ category.beschrijving }}</p>
    <button (click)="claimGeschenk()" class="claim-button">
      Claim geschenk
    </button>
    <p *ngIf="errorMessage" class="error-message">{{ errorMessage }}</p>
    <p *ngIf="successMessage" class="success-message">{{ successMessage }}</p>
  </div>
</div>
<app-nav-bar></app-nav-bar>
