@use "../../../style-guide.scss";

.container {
  padding-bottom: 115px;
  margin: 15px;
}

.small-container {
  padding: 20px;
  margin: 25px 0;
}

h1 {
  @include style-guide.font-large-header;
  color: style-guide.$primary-rood;
}

.availability {
  @include style-guide.font-small-tekst;
  color: style-guide.$primary-rood;
  margin-bottom: 15px;
}

p {
  @include style-guide.font-small-tekst;
  color: #666;
  margin: 10px 0;
}

strong {
  color: #333;
}
