<gebruiker-header
  [backgroundColor]="'background-wit'"
  subText="Studierichtingen"
></gebruiker-header>
<main>
  @if (studierichtingen$ | async; as studierichtingen) {
    @if (gebruiker$ | async; as gebruiker) {
      <ul>
        @if (studierichtingen.content.length === 0) {
          <div class="no-favo">Je hebt geen favorieten studierichtingen</div>
        } @else {
          @for (
            studierichting of studierichtingen.content;
            track studierichting.id
          ) {
            <app-card
              [subtextLine1]="studierichting.niveauNaam"
              [subtextLine2]="
                studierichting.studiepunten
                  ? studierichting.studiepunten + ' stp'
                  : 'geen studiepunten'
              "
              [icon]="
                includesFavoStudie(gebruiker, studierichting)
                  ? faHeartFull
                  : faHeart
              "
              [title]="studierichting.naam"
              [id]="studierichting.id"
              (iconClicked)="favorite(studierichting.id, $event)"
            ></app-card>
          }
          <mat-paginator
            [length]="studierichtingen.totalElements"
            [pageIndex]="page"
            [pageSize]="pageSize"
            (page)="onPageChange($event)"
          ></mat-paginator>
        }
      </ul>
    }
  }
</main>
<app-nav-bar></app-nav-bar>
