<div class="user-form" id="username-page">
  <h2>Enter Chatroom</h2>
  <form id="usernameForm">
    <label for="nickname">Nickname:</label>
    <input type="text" id="nickname" name="nickname" required>

    <label for="fullname">Real Name:</label>
    <input type="text" id="fullname" name="realname" required>

    <button type="submit">Enter Chatroom</button>
  </form>
</div>

<div class="chat-container" id="chat-page">
  <div class="users-list">
    <div class="users-list-container">
      <h2>Online Users</h2>
      <ul id="connectedUsers">
      </ul>
    </div>
    <div>
      <p id="connected-user-fullname"></p>
      <a class="logout" href="javascript:void(0)" id="logout">Logout</a>
    </div>
  </div>

  <div class="chat-area">
    <div class="chat-area" id="chat-messages">
    </div>

    <form id="messageForm" name="messageForm">
      <div class="message-input">
        <input autocomplete="off" type="text" id="message" placeholder="Type your message...">
        <button>Send</button>
      </div>
    </form>
  </div>
</div>
