@use "../../../style-guide";

main {
  max-width: 400px;
  margin: 0 auto;
  padding: 2px 16px 100px 16px;

  button {
    @include style-guide.font-large-header;
    font-size: 16px;
    border-radius: 20px;
    padding: 5px 20px;
    margin-top: 5px;
    cursor: pointer;
    background-color: white;
  }

  ul {
    li {
      display: flex;
      align-items: center;
      padding: 1rem;
      margin-bottom: 1rem;
      border-radius: 25px;

      .icon {
        width: 50px; /* Adjust the width as needed */
        height: 50px; /* Fixed height to maintain aspect ratio */
        border-radius: 50%;
        margin-right: 1rem;
        flex-shrink: 0; /* Prevent flex items from shrinking */
      }

      .details {
        max-width: 80%;

        h2 {
          font-size: 1rem;
          margin-bottom: 0.5rem;
        }

        p {
          @include style-guide.font-small-tekst;
        }
      }

      .likes {
        margin-left: auto; /* Align likes to the right */
        font-size: 0.875rem;
        white-space: nowrap; /* Prevent text from wrapping */
      }
    }
  }

  .filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 10px 10px;
  }

  .filter-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    input,
    select {
      @include style-guide.font-small-tekst;
      font-size: 14px;
      font-weight: 300;
      color: #000000;
      border-radius: 5px;
      margin-bottom: 0.5rem;
      padding: 5px 10px;
      width: 100%;
      max-width: 278px;
      outline: none;
    }

    input {
      margin-top: 15px;
    }
  }

  .not-found {
    text-align: center;
    @include style-guide.font-medium-tekst;
    line-height: 1.2;
    font-size: 14px;
  }
}

/* Looker container specific styles */
.looker-container {
  ul {
    li {
      border: 1px solid style-guide.$primary-rood;
    }
  }

  ::ng-deep .mat-paginator-range-actions {
    background-color: style-guide.$primary-rood;
  }

  button {
    color: style-guide.$primary-rood;
    border: 3px solid style-guide.$primary-rood;
  }

  .filter-form {
    input,
    select {
      border: 1px solid style-guide.$primary-rood;
    }
  }
}

/* Helper container specific styles */
.helper-container {
  ul {
    li {
      border: 1px solid style-guide.$helper-blauw;
    }
  }

  ::ng-deep .mat-paginator-range-actions {
    background-color: style-guide.$helper-blauw;
  }

  button {
    color: style-guide.$helper-blauw;
    border: 3px solid style-guide.$helper-blauw;
  }

  .filter-form {
    input,
    select {
      border: 1px solid style-guide.$helper-blauw;
    }
  }
}
