<div [style.height]="containerHeight" class="container">
  <gebruiker-header [headerText]="'Registreren'"></gebruiker-header>
  <div class="rectangle-container">
    <div class="rectangle">
      <p
        (click)="toggleComponent('looker')"
        [class.active]="currentComponent === 'looker'"
        class="half"
      >
        StudyLooker
      </p>
      <p
        (click)="toggleComponent('helper')"
        [class.active]="currentComponent === 'helper'"
        class="half"
      >
        StudyHelper
      </p>
    </div>
  </div>

  <div *ngIf="currentComponent === 'helper'">
    <app-study-helper-registreer></app-study-helper-registreer>
  </div>
  <div *ngIf="currentComponent === 'looker'">
    <app-study-looker-registreer></app-study-looker-registreer>
  </div>
</div>
