<gebruiker-header
  [backgroundColor]="'background-wit'"
  subText="Studierichtingen"
></gebruiker-header>
<main>
  @if (studierichtingen$ | async; as studierichtingen) {
    <ul>
      @for (
        studierichting of studierichtingen.content;
        track studierichting.id
      ) {
        <li>
          <div
            class="icon"
            [ngStyle]="getRandomGradient(studierichting.id.toString())"
          ></div>
          <div class="details">
            <h2>{{ studierichting.naam }}</h2>
            @if (studierichting.studiepunten) {
              <p>{{ studierichting.studiepunten }} stp</p>
            }
            @if (studierichting.afstudeerrichting.length > 0) {
              <p>
                {{ studierichting.niveauNaam }} -
                {{ studierichting.afstudeerrichting }}
              </p>
            } @else {
              {{ studierichting.niveauNaam }}
            }
          </div>
          <span class="likes">❤️ 100</span>
        </li>
      }
    </ul>
    <mat-paginator
      [length]="studierichtingen.totalElements"
      [pageIndex]="page"
      [pageSize]="pageSize"
      (page)="onPageChange($event)"
    >
    </mat-paginator>
  }
</main>
<app-nav-bar></app-nav-bar>
