@use "../../../style-guide";

.looker-container {
  padding-bottom: 115px;
  margin: 15px;

  .small-container {
    margin-top: 25px;
    margin-bottom: 15px;
  }

  button {
    color: style-guide.$secondary-wit;
    background-color: style-guide.$primary-rood;
    @include style-guide.font-large-header;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    padding: 5px 20px;
    margin-top: 5px;
  }

  h3 {
    @include style-guide.font-medium-tekst;
    color: style-guide.$primary-rood;
    font-weight: 800;
    margin-bottom: 10px;
  }

  p {
    @include style-guide.font-small-tekst;
  }

  .tiles {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  .tile-item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
  }

  .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .background-rood {
    background-color: style-guide.$primary-rood;
  }

  .background-roze {
    background-color: style-guide.$primary-roos;
  }

  .background-oranje {
    background-color: style-guide.$primary-oranje;
  }

  .background-groen {
    background-color: style-guide.$secondary-groen;
  }

  .background-geel {
    background-color: style-guide.$secondary-geel;
  }

  .background-paars {
    background-color: style-guide.$secondary-paars;
  }

  .progress-bar {
    width: 100%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin: 10px 0;
    position: relative;
  }

  .progress {
    width: 60%;
    height: 100%;
    background-color: style-guide.$primary-rood;
    border-radius: 5px 0 0 5px;
    position: absolute;
  }
}

.helper-container {
  padding-bottom: 115px;
  margin: 15px;

  .small-container {
    margin-top: 25px;
    margin-bottom: 15px;
  }

  button {
    color: style-guide.$secondary-wit;
    background-color: style-guide.$helper-blauw;
    @include style-guide.font-large-header;
    font-size: 15px;
    border: none;
    border-radius: 20px;
    padding: 5px 20px;
    margin-top: 5px;
  }

  h3 {
    @include style-guide.font-medium-tekst;
    color: style-guide.$helper-blauw;
    font-weight: 800;
    margin-bottom: 10px;
  }

  p {
    @include style-guide.font-small-tekst;
  }

  .tiles {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }

  .tile-item {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
  }

  .icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }

  .background-rood {
    background-color: style-guide.$helper-blauw;
  }

  .background-roze {
    background-color: style-guide.$helper-roos;
  }

  .background-oranje {
    background-color: style-guide.$helper-groen;
  }

  .background-groen {
    background-color: style-guide.$helper-groen;
  }

  .background-geel {
    background-color: style-guide.$secondary-geel;
  }

  .background-paars {
    background-color: style-guide.$secondary-paars;
  }

  .progress-bar {
    width: 100%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin: 10px 0;
    position: relative;
  }

  .progress {
    width: 60%;
    height: 100%;
    background-color: style-guide.$helper-blauw;
    border-radius: 5px 0 0 5px;
    position: absolute;
  }
}
