.container {
  padding-bottom: 115px;
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.categorie-card {
  width: 100%;
  max-width: 500px;
  display: flex;
  justify-content: center;
}

.tile-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-radius: 10px;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
  background-color: #6a1b9a;
  position: relative;
  overflow: hidden;
}

.tile-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

.tile-image {
  width: 50%;
  height: auto;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  margin-left: 20px;
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

button {
  color: #fff;
  background-color: #8e24aa;
  font-size: 15px;
  border: none;
  border-radius: 20px;
  padding: 5px 20px;
  margin-top: 10px;
  cursor: pointer;
}

h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

p {
  font-size: 14px;
  margin-bottom: 10px;
}
