<gebruiker-header
  [backgroundColor]="'background-wit'"
  [headerText]="''"
  [subText]="'Geschenken'"
></gebruiker-header>
<div class="container">
  <div
    *ngFor="let categorie of geschenkCategorieen; let i = index"
    class="categorie-card"
  >
    <div class="tile-item {{ backgroundColorClasses[i] }}">
      <div class="tile-content">
        <h3>{{ categorie.naam }}</h3>
        <p>{{ categorie.prijs }} XP</p>
        <button (click)="meerInfo(categorie.id)">Meer info</button>
      </div>
      <div class="tile-image">
        <img
          alt="{{ categorie.naam }}"
          src="http://localhost:8080/api/v1/geschenkcategorie/files/{{
            categorie.fotoUrl
          }}"
        />
      </div>
    </div>
  </div>
</div>
<app-nav-bar></app-nav-bar>
