@use "../../../style-guide";

.icon-email {
  background: url("../../../assets/images/mail-envloppe.png") no-repeat 5px
    center;
}

.icon-wachtwoord {
  background: url("../../../assets/images/wachtwoord.png") no-repeat 5px center;
}

.icon-persoon {
  background: url("../../../assets/images/persoon.png") no-repeat 5px center;
}

.icon-provincie {
  background: url("../../../assets/images/provincie.png") no-repeat 5px center;
}

.icon-studie {
  background: url("../../../assets/images/studie.png") no-repeat 5px center;
}

.icon-email,
.icon-wachtwoord,
.icon-provincie,
.icon-persoon,
.icon-studie {
  @include style-guide.font-small-tekst;
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin-bottom: 0;
  background-size: 20px;
  padding: 5px 100px 5px 35px;
  background-color: style-guide.$primary-rood;
}

.icon-email:focus,
.icon-wachtwoord:focus,
.icon-provincie:focus,
.icon-persoon:focus,
.icon-studie:focus {
  border: 1px solid #ffffff;
  outline: none;
}

.error {
  @include style-guide.font-small-tekst;
  color: #ffffff;
  text-align: left;
  font-size: 12px;
  position: absolute;
  bottom: -23px;
  left: 0;
  width: 100%;
  height: 15px;
  visibility: hidden;
}

.error:empty {
  visibility: hidden;
}

.error:not(:empty) {
  visibility: visible;
}

.studylooker-registreer-page {
  background-color: style-guide.$primary-rood;
  flex: 1;
  overflow: hidden;
  position: relative;
  background-size: cover;
  min-height: 70vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 85vh;
}

::placeholder {
  color: #ffffff;
  opacity: 1;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  color: style-guide.$primary-rood;
  @include style-guide.font-large-header;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  padding: 3px 50px;
  margin-top: 5px;
}

p {
  @include style-guide.font-small-tekst;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  margin: 7px;
}

.suggestions {
  list-style-type: none;
  padding: 0;
  margin: 0;
  max-height: 150px;
  overflow-y: auto;
  width: 296px;
  background-color: lighten(style-guide.$primary-rood, 90%);
  outline: none;
  border: 1px solid #ffffff;
}

.suggestions li {
  padding: 8px;
  cursor: pointer;
}

.suggestions li:hover {
  background-color: lighten(style-guide.$primary-rood, 10%);
}

.suggestions::-webkit-scrollbar {
  width: 8px;
}

.suggestions::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.suggestions::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.suggestions::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.aangepaste-radius {
  border-radius: 5px 5px 0 0;
}

.normale-radius {
  border-radius: 5px;
}

.plus-button {
  color: #ffffff;
  background-color: style-guide.$primary-rood;
  padding: 0;
  font-size: 24px;
  margin-top: 3px;
  border: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0 !important;
}

.smaller-input {
  padding: 5px 84.06px 5px 35px;
}

.smaller-height {
  margin-bottom: 0;
}

.alignment-right {
  margin-left: 15.94px;
}

.diploma-field {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.extra-diploma {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.diploma-field {
  width: 279.8px;
}

.diploma {
  overflow: hidden;
}
