<div class="container">
  <h2>Test Form</h2>

  <div *ngFor="let topic of topics" class="topic">
    <label [for]="topic.name">{{ topic.name }}</label>
    <input
      type="range"
      [id]="topic.name"
      [name]="topic.name"
      min="0"
      max="100"
      [(ngModel)]="topic.value"
      (ngModelChange)="updateChart()"
    />
    <span>{{ topic.value }}</span>
  </div>
</div>

<div class="chart-container">
  <canvas
    baseChart
    width="400"
    height="400"
    [datasets]="radarChartData"
    [options]="radarChartOptions"
    [labels]="radarChartLabels"
    [type]="'radar'"
  >
  </canvas>
</div>

<div class="similarity">
  <h3>Similarity: {{ similarityPercentage.toFixed(2) }}%</h3>
</div>
