<div class="container">
  <h2>Test Form</h2>

  <div *ngFor="let topic of topics" class="topic">
    <label [for]="topic.name">{{ topic.name }}</label>
    <input
      (ngModelChange)="updateChart()"
      [(ngModel)]="topic.value"
      [id]="topic.name"
      [name]="topic.name"
      max="100"
      min="0"
      type="range"
    />
    <span>{{ topic.value }}</span>
  </div>
</div>

<button (click)="submitValues()">Submit</button>

<!--<div *ngIf="similarities.length > 0">
  <h3>Top 10 Studierichtingen Voor Mij</h3>
  <div *ngFor="let similarity of similarities">
    <p>
      {{ similarity.naam }} ({{ similarity.niveauNaam }}):
      {{ similarity.similarityPercentage.toFixed(2) }}%
    </p>
  </div>
</div>

<div class="chart-container">
  <canvas
    baseChart
    width="400"
    height="400"
    [datasets]="radarChartData"
    [options]="radarChartOptions"
    [labels]="radarChartLabels"
    [type]="'radar'"
  >
  </canvas>
</div>-->
