<div class="{{ class }}" rolStyle>
  <div class="{{ backgroundColor }} gebruiker-header">
    <img alt="logo van yosto" src="{{ src }}" />
    @if (headerText) {
      <h1 class="{{ backgroundColor }}">{{ headerText }}</h1>
    }
    @if (subMediumText) {
    <h2 class="{{ backgroundColor }}">{{ subMediumText }}</h2>
    }
    @if (subText) {
      <h2 class="{{ backgroundColor }}">{{ subText }}</h2>
    }
  </div>
  <div
    class="{{ class }} expansion-div"
    *rolChecker="[GebruikerRol.STUDYLOOKER, GebruikerRol.STUDYHELPER]"
  >
    <mat-expansion-panel [hideToggle]="true" class="expansion">
      <mat-expansion-panel-header class="expansion-header">
        <mat-panel-title class="expansion-title">
          {{ activeRol }}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let rol of rollen">
        <button *ngIf="rol !== activeRol" (click)="changeRol(rol)">
          {{ rol }}
        </button>
      </div>
    </mat-expansion-panel>
  </div>
</div>
