<div class="container">
  <gebruiker-header
    [backgroundColor]="'background-rood'"
    [headerText]="'LOG IN'"
    [fotoPath]="'../../../assets/images/looker-yosto-logo.png'"
    [class]="'looker-container'"
  ></gebruiker-header>
  <div class="login-page">
    <div class="error-container">
      @if (errorMessages["errorLogin"]) {
        <p class="errorTop">
          {{ errorMessages["errorLogin"] }}
        </p>
      }
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <div class="input-container">
        <input
          class="icon-email"
          formControlName="email"
          placeholder="E-mailadres*"
          type="text"
        />
        @if (errorMessages["errorLoginEmail"]) {
          <p class="error">
            {{ errorMessages["errorLoginEmail"] }}
          </p>
        }
      </div>
      <div class="input-container">
        <input
          class="icon-wachtwoord"
          formControlName="wachtwoord"
          placeholder="Wachtwoord*"
          type="password"
        />
        @if (errorMessages["errorLoginWachtwoord"]) {
          <p class="error">
            {{ errorMessages["errorLoginWachtwoord"] }}
          </p>
        }
      </div>
      <div>
        <button type="submit">Log In!</button>
      </div>
    </form>
    <p>Ik ben mijn wachtwoord vergeten.</p>
  </div>
</div>
