<div class="container" rolStyle>
  <gebruiker-header
    [backgroundColor]="'background-rood'"
    [headerText]="'VERIFIEËR ACCOUNT'"
  ></gebruiker-header>
  <div class="login-page">
    <div class="error-container">
      @if (errorMessages["errorVerify"]) {
        <p class="errorTop">
          {{ errorMessages["errorVerify"] }}
        </p>
      }
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
      <div class="input-container">
        <input
          class="icon-email"
          formControlName="email"
          placeholder="E-mailadres*"
          type="text"
        />
        @if (errorMessages["errorEmail"]) {
          <p class="error">
            {{ errorMessages["errorEmail"] }}
          </p>
        }
      </div>
      <div class="input-container">
        <input
          class="icon-wachtwoord"
          formControlName="wachtwoord"
          placeholder="Wachtwoord*"
          type="password"
        />
        @if (errorMessages["errorLoginWachtwoord"]) {
          <p class="error">
            {{ errorMessages["errorLoginWachtwoord"] }}
          </p>
        }
      </div>
      <div class="input-container">
        <input
          class="icon-wachtwoord"
          formControlName="code"
          placeholder="Code*"
          type="text"
        />
      </div>
      <div>
        <button type="submit">Verifieër!</button>
      </div>
    </form>
  </div>
</div>
