<div rolStyle>
  <ul class="navbar">
    <li>
      <a routerLink="/home" routerLinkActive="active">
        <img
          alt="Start pagina"
          height="38"
          ngSrc="{{ '../../assets/images/huis.png' }}"
          width="38"
        />
      </a>
    </li>
    <li class="second-icon">
      <a routerLink="/favorieten" routerLinkActive="active">
        <img
          alt="Start pagina"
          height="44"
          ngSrc="{{ '../../assets/images/hart.png' }}"
          width="42"
        />
      </a>
    </li>

    <li class="center-icon">
      <a routerLink="/chat" routerLinkActive="active">
        <img
          alt="Start pagina"
          height="55"
          ngSrc="{{ '../../assets/images/chat.png' }}"
          width="55"
        />
      </a>
    </li>
    <li class="third-icon" *rolChecker="[GebruikerRol.STUDYLOOKER]">
      <a routerLink="/studierichting" routerLinkActive="active"
      ><img
        alt="Start pagina"
        height="46"
        ngSrc="{{ '../../assets/images/studeer-hoed.png' }}"
        width="42"
      />
      </a>
    </li>
    <li class="third-icon" *rolChecker="[GebruikerRol.STUDYHELPER]">
      <a routerLink="/geschenken-overview" routerLinkActive="active"
      >
        <fa-icon [icon]="faBagShopping"/>
      </a>
    </li>
    <li>
      <button (click)="openSelection()" class="pop-up-button">
        <img
          alt="Start pagina"
          height="36"
          ngSrc="{{ '../../assets/images/menu.png' }}"
          width="36"
        />
      </button>
    </li>
  </ul>
  @if (open) {
  <div class="pop-up-container">
    <a
      routerLink="/persoonlijkeInfo"
      routerLinkActive="active"
      class="pop-up-item"
    >
      <fa-icon [icon]="faAddressCard"></fa-icon>
    </a>
    <a
      routerLink="/persoonlijkeInfo"
      routerLinkActive="active"
      class="pop-up-item"
    >
      <img
        alt="Start pagina"
        height="46"
        ngSrc="{{ '../../assets/images/studeer-hoed.png' }}"
          width="42"
        />
      </a>
      <a
        routerLink="/persoonlijkeInfo"
        routerLinkActive="active"
        class="pop-up-item"
      >
        <img
          alt="Start pagina"
          height="46"
          ngSrc="{{ '../../assets/images/studeer-hoed.png' }}"
          width="42"
        />
      </a>
      <a
        routerLink="/persoonlijkeInfo"
        routerLinkActive="active"
        class="pop-up-item"
      >
        <img
          alt="Start pagina"
          height="46"
          ngSrc="{{ '../../assets/images/studeer-hoed.png' }}"
          width="42"
        />
      </a>
    </div>
  }
</div>
