@use "../../../style-guide";

.looker-container,
.helper-container {
  ul.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 5px 0;
    margin: 0;
    height: 60px;
    width: 100%;
    z-index: 1000;
  }

  ul.navbar li {
    list-style: none;
  }

  .second-icon {
    z-index: 1;
  }

  .third-icon {
    z-index: 2;
  }

  ul.navbar li a img {
    color: #fff;
  }

  a fa-icon {
    font-size: 40px;
    color: #ffffff;
  }

  .center-icon a fa-icon {
    font-size: 60px;
  }

  .center-icon {
    position: relative;
    transform: translateY(-40px);
  }

  .center-icon::before {
    content: "";
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translateX(-50%);
    width: 90px;
    height: 90px;
    border-radius: 50%;
    z-index: -1;
  }

  .pop-up {
    border-radius: 12px;
    padding: 10px;
  }

  .pop-up-button {
    border: none;
  }

  .pop-up-container {
    position: fixed;
    bottom: 80px;
    right: 5px;
    z-index: 1000;
    padding: 10px;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    grid-template-areas:
      "top-left top-right"
      "bottom-left bottom-right";
  }

  .pop-up-item {
    padding: 5px;

    fa-icon,
    img {
      display: block;
      border-radius: 4px;
      padding: 9px;
      color: #ffffff;
    }
  }

  .pop-up-item:nth-child(1) {
    grid-area: bottom-right;
  }

  .pop-up-item:nth-child(2) {
    grid-area: bottom-left;
  }

  .pop-up-item:nth-child(3) {
    grid-area: top-right;
  }

  .pop-up-item:nth-child(4) {
    grid-area: top-left;
  }
}

// Apply specific colors to looker and helper containers
.looker-container {
  ul.navbar,
  .center-icon::before,
  .pop-up,
  .pop-up-button,
  .pop-up-item fa-icon,
  .pop-up-item img {
    background-color: style-guide.$primary-rood;
  }
}

.helper-container {
  ul.navbar,
  .center-icon::before,
  .pop-up,
  .pop-up-button,
  .pop-up-item fa-icon,
  .pop-up-item img {
    background-color: style-guide.$helper-blauw;
  }
}

