@use "../../../style-guide.scss";

.icon-email {
  background: url("/assets/images/mail-envloppe.png") no-repeat 5px center;
}

.icon-wachtwoord {
  background: url("/assets/images/wachtwoord.png") no-repeat 5px center;
}

.icon-persoon {
  background: url("/assets/images/persoon.png") no-repeat 5px center;
}

.icon-provincie {
  background: url("/assets/images/provincie.png") no-repeat 5px center;
}

.icon-studie {
  background: url("/assets/images/studie.png") no-repeat 5px center;
}

.icon-email,
.icon-wachtwoord,
.icon-provincie,
.icon-persoon,
.icon-studie {
  @include style-guide.font-small-tekst;
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin-bottom: 0;
  background-size: 20px;
  padding: 5px 100px 5px 35px;
  background-color: style-guide.$primary-rood;
}

.icon-email:focus,
.icon-wachtwoord:focus,
.icon-provincie:focus,
.icon-persoon:focus,
.icon-studie:focus {
  border: 1px solid #ffffff;
  outline: none;
}

.error {
  @include style-guide.font-small-tekst;
  color: #ffffff;
  text-align: left;
  font-size: 12px;
  position: absolute;
  bottom: -23px;
  left: 0;
  width: 100%;
  height: 15px;
  visibility: hidden;
}

.error:empty {
  visibility: hidden;
}

.error:not(:empty) {
  visibility: visible;
}

.studylooker-registreer-page {
  background-color: style-guide.$primary-rood;
  flex: 1;
  overflow: hidden;
  position: relative;
  background-size: cover;
  min-height: 70vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input-container {
  position: relative;
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 85vh;
}

::placeholder {
  color: #ffffff;
  opacity: 1;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  color: style-guide.$primary-rood;
  @include style-guide.font-large-header;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  padding: 3px 50px;
  margin-top: 5px;
}

p {
  @include style-guide.font-small-tekst;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  margin: 7px;
}
