<div class="container">
  <gebruiker-header [headerText]="'Registreren'"></gebruiker-header>
  <div class="studylooker-registreer-page">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div>
        <input type="text" class="icon-persoon" placeholder="Voornaam*" formControlName="voornaam">
      </div>
      <div>
        <input type="text" class="icon-persoon" placeholder="Achternaam*" formControlName="achternaam">
      </div>
      <div>
        <input type="email" class="icon-email" placeholder="E-mailadres*" formControlName="email">
      </div>
      <div>
        <input type="password" class="icon-wachtwoord" placeholder="Wachtwoord*" formControlName="wachtwoord">
      </div>
      <div>
        <input type="password" class="icon-wachtwoord" placeholder="Bevestig wachtwoord*" formControlName="bevestigWachtwoord">
      </div>
      <div>
        <input type="text" class="icon-provincie" placeholder="Provincie*" formControlName="provincie">
      </div>
      <div>
        <input type="text" class="icon-studie" placeholder="Huidige studie*" formControlName="huidigeStudie">
      </div>
      <div>
        <button type="submit">Registreer</button>
      </div>
    </form>
      <p>Door te registreren ga je akkoord met de algemene <br> voorwaarden en het Privacybeleid.</p>
  </div>
</div>


