@use "style-guide";

#start-scherm-background {
  position: relative;
  background-image: url("/src/assets/images/startscherm-background.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  //top: 0;
  //bottom: 0;
  //left: 0;
  //right: 0;
  overflow: hidden; /* Ensure content doesn't overflow */
}

#start-scherm-background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 186, 249, 0.6); /* 60% opacity #FFBAF9 color */
  z-index: 1; /* Ensure the overlay is above the image but below any other content */
}

#start-scherm-background .content {
  position: relative;
  z-index: 2;
}

#start-scherm-lijst {
  display: flex;
  list-style-type: none;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  height: 100vh;
}

#start-scherm-login {
  padding: 0.5rem 2.5rem;
  border: none;
  border-radius: 15px;
  background-color: style-guide.$secondary-geel;
  color: #ffffff;
  @include style-guide.font-large-header;
  font-size: 16px;
}

#start-scherm-study-buttons {
  display: flex;
  list-style-type: none;
  text-align: center;
  justify-content: space-evenly;
}

.study-button {
  background-color: style-guide.$primary-rood;
  padding: 2.5rem 1rem;
  border-radius: 25px;
  width: 30%;
  overflow: hidden;
}

.tekst-wit {
  @include style-guide.font-small-tekst;
  color: #ffffff;
  font-weight: 400;
}

h2 {
  @include style-guide.font-large-header;
  color: #ffffff;
}

@media only screen and (max-width: 768px) {
  h2 {
    font-size: 24px;
  }
  .tekst-wit {
    font-size: 12px;
  }
}

@media only screen and (max-width: 500px) {
  h2 {
    font-size: 16px;
  }
}
