<div class="social-icons {{ uitlijning }}">
  @if (facebookLink) {
    <a [href]="facebookLink" class="{{ grootte }}" target="_blank">
      <fa-icon [icon]="faFacebook" class="{{ iconColor }}"></fa-icon>
    </a>
  }
  @if (twitterLink) {
    <a [href]="twitterLink" class="{{ grootte }}" target="_blank">
      <fa-icon [icon]="faTwitter" class="{{ iconColor }}"></fa-icon>
    </a>
  }
  @if (instagramLink) {
    <a [href]="instagramLink" class="{{ grootte }}" target="_blank">
      <fa-icon [icon]="faInstagram" class="{{ iconColor }}"></fa-icon>
    </a>
  }
  @if (linkedinLink) {
    <a [href]="linkedinLink" class="{{ grootte }}" target="_blank">
      <fa-icon [icon]="faLinkedin" class="{{ iconColor }}"></fa-icon>
    </a>
  }
</div>
