.user-list {
    height: 100vh;
    overflow-y: auto;
  }
  
  .user-button {
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    padding: 10px;
  }
  
  .profile-circle {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    flex-shrink: 0;
  }
  
  .user-info {
    display: flex;
    flex-direction: column;
  }
  
  .user-email {
    font-weight: bold;
  }
  
  .last-message {
    font-size: 0.85em;
    color: grey;
  }
  
  .new-message-notification {
    font-size: 0.85em;
    color: red;
  }
  
  mat-divider {
    width: 100%;
  }
  