<ul class="navbar">
  <li>
    <a routerLink="/home" routerLinkActive="active">
      <fa-icon [icon]="faHouse"></fa-icon>
    </a>
  </li>
  <li class="second-icon">
    <a routerLink="/favorieten" routerLinkActive="active">
      <fa-icon [icon]="faHeart"></fa-icon>
    </a>
  </li>

  <li class="center-icon">
    <a routerLink="/home" routerLinkActive="active">
      <fa-icon [icon]="faComment"></fa-icon>
    </a>
  </li>
  <li class="third-icon">
    <a routerLink="/scholen" routerLinkActive="active">
      <fa-icon [icon]="faGraduationCap"></fa-icon>
    </a>
  </li>
  <li>
    <a routerLink="/veelGesteldeVragen" routerLinkActive="active">
      <fa-icon [icon]="faClipboardQuestion"></fa-icon>
    </a>
  </li>
</ul>
