<ul class="navbar">
    <li>
        <a routerLink="/home" routerLinkActive="active">
            <img ngSrc="{{ '../../assets/images/huis.png' }}" alt="Start pagina" width="38" height="38"> </a>
    </li>
    <li class="second-icon">
        <a routerLink="/favorieten" routerLinkActive="active">
            <img ngSrc="{{ '../../assets/images/hart.png' }}" alt="Start pagina" width="42" height="44">
        </a>
    </li>

    <li class="center-icon">
        <a routerLink="/home" routerLinkActive="active">
            <img ngSrc="{{ '../../assets/images/chat.png' }}" alt="Start pagina" width="55" height="55">
        </a>
    </li>
    <li class="third-icon">
        <a routerLink="/scholen" routerLinkActive="active">
            <img ngSrc="{{ '../../assets/images/studeer-hoed.png' }}" alt="Start pagina" width="42" height="46">
        </a>
    </li>
    <li>
        <a routerLink="/veelGesteldeVragen" routerLinkActive="active">
            <img ngSrc="{{ '../../assets/images/menu.png' }}" alt="Start pagina" width="36" height="36">
        </a>
    </li>
</ul>
