$yosto-palette: (
  100: #ff3800,
  200: #ff9100,
  300: #ff63c6,
  400: #14c5ee,
  500: #543ab5,
  600: #00b980,
  700: #ffc001,
  800: #ffbaf9,
  900: #ffffff,
  1000: #144CB9,
  1100: #FB63C4,
  1200: #12C5ED,
  contrast: (),
);

$spacing-large: 30px;
$spacing-medium: 20px;
$spacing-intermediate: 15px;
$spacing-small: 10px;
$spacing-tiny: 5px;
$spacing-extra-tiny: 1px;

$mobile-vw-40: 40vw;

$media-mobile: 750px;

$font-header: "Luckiest Guy", sans-serif;
$font-tekst: "Roboto", sans-serif;
$font-subtext: "Barlow", sans-serif;

$font-size-large: 36px;
$font-size-medium: 20px;
$font-size-semi-medium: 18px;
$font-size-small: 15px;

$font-line-hide-medium: 32px;

$font-weight-medium: 700;

@mixin font-subtext {
  font: #{$font-weight-medium} #{$font-size-semi-medium} $font-subtext;
}

@mixin font-large-header {
  font: #{$font-size-large} $font-header;
}

@mixin font-medium-header {
  font: #{$font-weight-medium} #{$font-size-medium} $font-header;
}

@mixin font-medium-tekst {
  font: #{$font-weight-medium} #{$font-size-medium}/#{$font-line-hide-medium} $font-tekst;
}

@mixin font-small-tekst {
  font: #{$font-size-small} $font-tekst;
}

$primary-rood: map-get($yosto-palette, 100);
$primary-oranje: map-get($yosto-palette, 200);
$primary-roos: map-get($yosto-palette, 300);
$secondary-licht-blauw: map-get($yosto-palette, 400);
$secondary-paars: map-get($yosto-palette, 500);
$secondary-groen: map-get($yosto-palette, 600);
$secondary-geel: map-get($yosto-palette, 700);
$secondary-roos: map-get($yosto-palette, 800);
$secondary-wit: map-get($yosto-palette, 900);
$helper-blauw: map-get($yosto-palette, 1000);
$helper-roos: map-get($yosto-palette, 1100);
$helper-groen: map-get($yosto-palette, 1200);

$categorie-colors: (
  $primary-rood,
  $primary-oranje,
  $primary-roos,
  $secondary-licht-blauw,
  $secondary-paars,
  $secondary-groen,
  $secondary-geel,
  $secondary-roos,
  $secondary-wit,
  $helper-blauw,
  $helper-roos,
  $helper-groen,
);

@mixin alternating-background-colors {
  @for $i from 1 through length($categorie-colors) {
    &:nth-of-type(#{$i}) {
      background-color: nth($categorie-colors, $i);
    }
  }
}
