<gebruiker-header
  [backgroundColor]="'background-wit'"
  [subText]="'Chats'"
  class="header"
></gebruiker-header>

<div class="user-list">
  <mat-list>
    <mat-list-item class="help-someone-item" (click)="helpSomeone()">
      <div class="user-button">
        <div class="user-info help-someone-info">
          <span class="user-email" *ngIf="amountOfLookers > 0">
            Help een van de {{ amountOfLookers }} lookers
          </span>
          <span class="user-email" *ngIf="amountOfLookers === 0">
            Goed nieuws, alle Lookers krijgen op dit moment de nodige hulp
          </span>
        </div>
      </div>
    </mat-list-item>

    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

    <ng-container *ngIf="chatrooms.length > 0; else noChats">
      <ng-container *ngFor="let chatroom of chatrooms">
        <mat-list-item (click)="openChat(chatroom)">
          <div class="user-button">
            <div
              class="profile-circle"
              [ngStyle]="{ 'background-color': stringToColor(chatroom.id) }"
            ></div>
            <div class="user-info">
              <span class="user-email">{{ chatroom.studierichtingId }}</span>
              <span class="details">180 stp - UCLL, Leuven</span>
            </div>
            <div class="rating">
              <mat-icon [ngStyle]="{ color: stringToColor(chatroom.studierichtingId) }"
                >star</mat-icon
              >
              <span>200</span>
            </div>
          </div>
        </mat-list-item>
      </ng-container>
    </ng-container>

    <ng-template #noChats>
      <div class="no-chats-message">Je hebt nog geen bestaande chats</div>
    </ng-template>
  </mat-list>
</div>

<app-nav-bar></app-nav-bar>
