
<gebruiker-header
  [backgroundColor]="'background-wit'"
  [subText]="'Chats'"
  class="header"
></gebruiker-header>
<div class="looker-container">
  <div class="user-list">
    <mat-list>
      <mat-list-item class="help-someone-item" (click)="helpSomeone()">
        <div class="user-button">
          <div class="user-info help-someone-info">
            <span class="user-email" *ngIf="amountOfLookers > 0">
              Help een van de {{ amountOfLookers }} lookers
            </span>
            <span class="user-email" *ngIf="amountOfLookers === 0">
            Geen lookers beschikbaar op dit moment
            </span>
          </div>
        </div>
      </mat-list-item>

      <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

    <ng-container
      *ngIf="
        openChatrooms.length > 0 || closedChatrooms.length > 0;
        else noChats
      "
    >
      <!-- Open Chats -->
      <div class="section-header" *ngIf="openChatrooms.length > 0">
        Open Chats
      </div>
      <ng-container *ngFor="let chatroom of openChatrooms">
        <mat-list-item (click)="openChat(chatroom)">
            <div class="user-button">
              <div
                class="profile-circle"
              [ngStyle]="{ 'background-color': stringToColor(chatroom.chatId) }"
              ></div>
              <div class="user-info">
              <span class="user-email">{{ chatroom.studierichtingNaam }}</span>
                <span class="details">180 stp - UCLL, Leuven</span>
              </div>
          </div>
        </mat-list-item>
      </ng-container>

      <!-- Closed Chats -->
      <div class="section-header" *ngIf="closedChatrooms.length > 0">
        Gesloten Chats
      </div>
      <ng-container *ngFor="let chatroom of closedChatrooms">
        <mat-list-item (click)="openChat(chatroom)">
          <div class="user-button">
            <div
              class="profile-circle"
              [ngStyle]="{ 'background-color': stringToColor(chatroom.chatId) }"
            ></div>
            <div class="user-info">
              <span class="user-email">{{ chatroom.studierichtingNaam }}</span>
              <span class="details">180 stp - UCLL, Leuven</span>
              </div>
            </div>
          </mat-list-item>
        </ng-container>
      </ng-container>

      <ng-template #noChats>
        <div class="no-chats-message">Je hebt nog geen bestaande chats</div>
      </ng-template>
    </mat-list>
  </div>
  <app-nav-bar></app-nav-bar>
</div>
