<div class="studylooker-registreer-page">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    <div class="input-container">
      <input
        class="icon-persoon"
        formControlName="voornaam"
        placeholder="Voornaam*"
        type="text"
      />
      @if (errorMessages["errorVoornaam"]) {
        <p class="error">
          {{ errorMessages["errorVoornaam"] }}
        </p>
      }
    </div>
    <div class="input-container">
      <input
        class="icon-persoon"
        formControlName="achternaam"
        placeholder="Achternaam*"
        type="text"
      />
      @if (errorMessages["errorAchternaam"]) {
        <p class="error">
          {{ errorMessages["errorAchternaam"] }}
        </p>
      }
    </div>
    <div class="input-container">
      <input
        class="icon-email"
        formControlName="email"
        placeholder="E-mailadres*"
        type="email"
      />
      @if (errorMessages["errorEmail"]) {
        <p class="error">
          {{ errorMessages["errorEmail"] }}
        </p>
      }
      @if (errorMessages["errorDuplicate"]) {
        <p class="error">
          {{ errorMessages["errorDuplicate"] }}
        </p>
      }
    </div>
    <div class="input-container">
      <input
        class="icon-wachtwoord"
        formControlName="wachtwoord"
        placeholder="Wachtwoord*"
        type="password"
      />
      @if (errorMessages["errorWachtwoord"] &&
      !errorMessages["errorWachtwoordDubbel"]) {
        <p class="error">
          {{ errorMessages["errorWachtwoord"] }}
        </p>
      }
      @if (errorMessages["errorWachtwoordDubbel"]) {
        <p class="error">
          {{ errorMessages["errorWachtwoordDubbel"] }}
        </p>
      }
    </div>
    <div class="input-container">
      <input
        class="icon-wachtwoord"
        formControlName="bevestigWachtwoord"
        placeholder="Bevestig wachtwoord*"
        type="password"
      />
    </div>
    <div class="input-container">
      <input
        class="icon-provincie"
        formControlName="woonplaats"
        placeholder="Provincie*"
        type="text"
      />
      @if (errorMessages["errorProvincie"]) {
        <p class="error">
          {{ errorMessages["errorProvincie"] }}
        </p>
      }
    </div>
    <div class="input-container">
      <input
        class="icon-studie {{ borderRadiusStudie }}"
        formControlName="huidigeStudieAndNiveau"
        placeholder="Huidige studie*"
        type="text"
      />
      @if (filteredRichtingen.length > 0) {

        <ul class="suggestions">
          <li
            (click)="onRichtingClick(richting)"
            *ngFor="let richting of filteredRichtingen"
          >
            {{ richting }}
          </li>
        </ul>
      }
      @if (errorMessages["errorRichtingParser"]) {
        <p class="error">
          {{ errorMessages["errorRichtingParser"] }}
        </p>
      }
    </div>
    <div>
      <button class="button" type="submit">Registreer</button>
    </div>
  </form>
  <p>
    Door te registreren ga je akkoord met de algemene <br/>
    voorwaarden en het Privacybeleid.
  </p>
</div>
